.logo{
	float: left;
	width: 50%;
}
.login-logo{
	float: left;
	width: 285px;
}
.text{
	font-family: Arial;
	font-size: 25px;
	color: white;
}
.title{
	font-size: 35px;
	font-family: Arial;
	color: white;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: #BFBFBF;
    width: 110%;
    font-size: 35px;
    font-family: Arial;
}
li {
	float: left;
}	
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #111;
}
.active {
	background-color: #4CAF50;
}
.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}
.form {
	position: relative;
	background: white;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	font-family: Arial;
}
.form button {
	font-family: Arial;
	text-transform: uppercase;
	background: #BFBFBF;
	width: 100%;
	border: 0;
	padding: 15px;
	color: white;
  	font-size: 14px;
}
body{
	overflow: hidden;
}
